@font-face {
  font-family: 'georgia';
  src: url('../fonts/georgia/georgia.eot');
  src: local('☺'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'), url('../fonts/georgia.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgiab';
  src: url('../fonts/georgiab.eot');
  src: local('☺'), url('../fonts/georgiab.woff') format('woff'), url('../fonts/georgiab.ttf') format('truetype'), url('../fonts/georgiab.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgiai';
  src: url('../fonts/georgiai.eot');
  src: local('☺'), url('../fonts/georgiai.woff') format('woff'), url('../fonts/georgiai.ttf') format('truetype'), url('../fonts/georgiai.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgiaz';
  src: url('../fonts/georgiaz.eot');
  src: local('☺'), url('../fonts/georgiaz.woff') format('woff'), url('../fonts/georgiaz.ttf') format('truetype'), url('../fonts/georgiaz.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.eot');
  src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../fonts/Lato-Thin.eot');
  src: local('☺'), url('../fonts/Lato-Thin.woff') format('woff'), url('../fonts/Lato-Thin.ttf') format('truetype'), url('../fonts/Lato-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato-Italic.eot');
  src: local('☺'), url('../fonts/Lato-Italic.woff') format('woff'), url('../fonts/Lato-Italic.ttf') format('truetype'), url('../fonts/Lato-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato-BoldItalic.eot');
  src: local('☺'), url('../fonts/Lato-BoldItalic.woff') format('woff'), url('../fonts/Lato-BoldItalic.ttf') format('truetype'), url('../fonts/Lato-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url('../fonts/Lato-ThinItalic.eot');
  src: local('☺'), url('../fonts/Lato-ThinItalic.woff') format('woff'), url('../fonts/Lato-ThinItalic.ttf') format('truetype'), url('../fonts/Lato-ThinItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ta-l {
  text-align: left !important;
}
.ta-c {
  text-align: center !important;
}
.ta-r {
  text-align: right !important;
}
.ta-j {
  text-align: justify !important;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.lh-0 {
  line-height: 1;
}
.lh-1 {
  line-height: 1.1;
}
.lh-2 {
  line-height: 1.2;
}
.lh-3 {
  line-height: 1.3;
}
.lh-4 {
  line-height: 1.4;
}
.lh-5 {
  line-height: 1.5;
}
.lh-6 {
  line-height: 1.6;
}
.lh-7 {
  line-height: 1.7;
}
.lh-8 {
  line-height: 1.8;
}
.lh-9 {
  line-height: 1.9;
}
.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}
.ls-3 {
  letter-spacing: 3px;
}
.ls-4 {
  letter-spacing: 4px;
}
.ls-5 {
  letter-spacing: 5px;
}
.ls-6 {
  letter-spacing: 6px;
}
.ls-7 {
  letter-spacing: 7px;
}
.ls-8 {
  letter-spacing: 8px;
}
.ls-9 {
  letter-spacing: 9px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 27px;
}
.fs-28 {
  font-size: 28px;
}
.fs-29 {
  font-size: 29px;
}
.fs-30 {
  font-size: 30px;
}
.fs-31 {
  font-size: 31px;
}
.fs-32 {
  font-size: 32px;
}
.fs-33 {
  font-size: 33px;
}
.fs-34 {
  font-size: 34px;
}
.fs-35 {
  font-size: 35px;
}
.fs-36 {
  font-size: 36px;
}
.fs-37 {
  font-size: 37px;
}
.fs-38 {
  font-size: 38px;
}
.fs-39 {
  font-size: 39px;
}
.fs-40 {
  font-size: 40px;
}
.fs-41 {
  font-size: 41px;
}
.fs-42 {
  font-size: 42px;
}
.fs-43 {
  font-size: 43px;
}
.fs-44 {
  font-size: 44px;
}
.fs-45 {
  font-size: 45px;
}
.fs-46 {
  font-size: 46px;
}
.fs-47 {
  font-size: 47px;
}
.fs-48 {
  font-size: 48px;
}
.fs-49 {
  font-size: 49px;
}
.fs-50 {
  font-size: 50px;
}
.fs-51 {
  font-size: 51px;
}
.fs-52 {
  font-size: 52px;
}
.fs-53 {
  font-size: 53px;
}
.fs-54 {
  font-size: 45px;
}
.fs-58 {
  font-size: 58px;
}
.fs-63 {
  font-size: 63px;
}
.fs-70 {
  font-size: 70px;
}
.fs-77 {
  font-size: 77px;
}
.fs-83 {
  font-size: 83px;
}
.fs-95 {
  font-size: 95px;
}

.fs-150 {
  font-size: 150px;
}

$color-1: #313131;
