$main-font-color: rgb(51, 51, 51);
$sub-font-color: rgb(51, 51, 51);

$main-border-color: rgb(120, 120, 120);
$line-border-color: #D2D2D2;
$light-border-color: #f9f9f9;

$media-item-bg-1: #37B466;
$media-item-bg-2: #C5A178;
$media-item-bg-3: #FF7164;
$media-item-bg-4: #B261C9;

$lg: 1200px;
$md: 1023px;
$sm: 767px;
$xs: 590px;